
body{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  
  background-color: red;
  align-content: center;
  text-align: center;

  
}

main , header, footer{
  width: 100%;
}

main , header, footer,aside{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

aside{
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;

}

#fonds{
  background-image: url("../images/parchemin.jpg");
  border: solid; 
  padding-left: 60px; 
  padding-right: 60px;
  height: 853px;
  width: 1490px;
}

aside ,footer,header{
  background-color: beige;
}


#ouistie {
   height:60px;
    width:60px;
}

#buisson{
   height:60px;
    width:60px;
}
